s_copysign.c filter=lfs diff=lfs merge=lfs -text
s_frexp.c filter=lfs diff=lfs merge=lfs -text
s_logb.c filter=lfs diff=lfs merge=lfs -text
w_remainder.c filter=lfs diff=lfs merge=lfs -text
e_atan2.c filter=lfs diff=lfs merge=lfs -text
k_rem_pio2.c filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
s_erf.c filter=lfs diff=lfs merge=lfs -text
s_lib_version.c filter=lfs diff=lfs merge=lfs -text
s_modf.c filter=lfs diff=lfs merge=lfs -text
w_acos.c filter=lfs diff=lfs merge=lfs -text
w_gamma.c filter=lfs diff=lfs merge=lfs -text
e_lgamma_r.c filter=lfs diff=lfs merge=lfs -text
w_sinh.c filter=lfs diff=lfs merge=lfs -text
e_gamma.c filter=lfs diff=lfs merge=lfs -text
e_pow.c filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
s_atan.c filter=lfs diff=lfs merge=lfs -text
s_fabs.c filter=lfs diff=lfs merge=lfs -text
s_isnan.c filter=lfs diff=lfs merge=lfs -text
w_hypot.c filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
w_j1.c filter=lfs diff=lfs merge=lfs -text
k_tan.c filter=lfs diff=lfs merge=lfs -text
s_significand.c filter=lfs diff=lfs merge=lfs -text
w_log.c filter=lfs diff=lfs merge=lfs -text
e_log10.c filter=lfs diff=lfs merge=lfs -text
e_atanh.c filter=lfs diff=lfs merge=lfs -text
s_expm1.c filter=lfs diff=lfs merge=lfs -text
s_nextafter.c filter=lfs diff=lfs merge=lfs -text
e_asin.c filter=lfs diff=lfs merge=lfs -text
e_j0.c filter=lfs diff=lfs merge=lfs -text
k_cos.c filter=lfs diff=lfs merge=lfs -text
configure.in filter=lfs diff=lfs merge=lfs -text
e_fmod.c filter=lfs diff=lfs merge=lfs -text
e_lgamma.c filter=lfs diff=lfs merge=lfs -text
k_standard.c filter=lfs diff=lfs merge=lfs -text
readme filter=lfs diff=lfs merge=lfs -text
s_finite.c filter=lfs diff=lfs merge=lfs -text
s_tan.c filter=lfs diff=lfs merge=lfs -text
w_acosh.c filter=lfs diff=lfs merge=lfs -text
changes filter=lfs diff=lfs merge=lfs -text
w_lgamma_r.c filter=lfs diff=lfs merge=lfs -text
w_asin.c filter=lfs diff=lfs merge=lfs -text
w_scalb.c filter=lfs diff=lfs merge=lfs -text
s_cbrt.c filter=lfs diff=lfs merge=lfs -text
e_jn.c filter=lfs diff=lfs merge=lfs -text
index filter=lfs diff=lfs merge=lfs -text
k_sin.c filter=lfs diff=lfs merge=lfs -text
s_asinh.c filter=lfs diff=lfs merge=lfs -text
w_fmod.c filter=lfs diff=lfs merge=lfs -text
e_gamma_r.c filter=lfs diff=lfs merge=lfs -text
e_acosh.c filter=lfs diff=lfs merge=lfs -text
e_hypot.c filter=lfs diff=lfs merge=lfs -text
e_j1.c filter=lfs diff=lfs merge=lfs -text
e_sinh.c filter=lfs diff=lfs merge=lfs -text
s_tanh.c filter=lfs diff=lfs merge=lfs -text
w_atan2.c filter=lfs diff=lfs merge=lfs -text
w_gamma_r.c filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
w_lgamma.c filter=lfs diff=lfs merge=lfs -text
w_jn.c filter=lfs diff=lfs merge=lfs -text
index.html filter=lfs diff=lfs merge=lfs -text
s_ilogb.c filter=lfs diff=lfs merge=lfs -text
s_matherr.c filter=lfs diff=lfs merge=lfs -text
w_sqrt.c filter=lfs diff=lfs merge=lfs -text
e_rem_pio2.c filter=lfs diff=lfs merge=lfs -text
s_cos.c filter=lfs diff=lfs merge=lfs -text
s_floor.c filter=lfs diff=lfs merge=lfs -text
s_log1p.c filter=lfs diff=lfs merge=lfs -text
s_scalbn.c filter=lfs diff=lfs merge=lfs -text
s_sin.c filter=lfs diff=lfs merge=lfs -text
w_log10.c filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD_LIKE filter=lfs diff=lfs merge=lfs -text
e_exp.c filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
s_ldexp.c filter=lfs diff=lfs merge=lfs -text
w_cosh.c filter=lfs diff=lfs merge=lfs -text
w_exp.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
e_sqrt.c filter=lfs diff=lfs merge=lfs -text
s_signgam.c filter=lfs diff=lfs merge=lfs -text
w_atanh.c filter=lfs diff=lfs merge=lfs -text
e_remainder.c filter=lfs diff=lfs merge=lfs -text
e_cosh.c filter=lfs diff=lfs merge=lfs -text
e_log.c filter=lfs diff=lfs merge=lfs -text
fdlibm.h filter=lfs diff=lfs merge=lfs -text
makefile.in filter=lfs diff=lfs merge=lfs -text
MD5 filter=lfs diff=lfs merge=lfs -text
s_ceil.c filter=lfs diff=lfs merge=lfs -text
s_rint.c filter=lfs diff=lfs merge=lfs -text
e_acos.c filter=lfs diff=lfs merge=lfs -text
w_j0.c filter=lfs diff=lfs merge=lfs -text
w_pow.c filter=lfs diff=lfs merge=lfs -text
e_scalb.c filter=lfs diff=lfs merge=lfs -text
